SECRET_KEY = your_secret_key #chave secreta pra criptografia Bearer HJB2wcQp
ACCESS_TOKEN_EXPIRE_MINUTES = 30 #tempo de expiração do token de acesso em minutos
ALGORITHM = HS256 #algoritmo de criptografia do token
DATABASE_URL = your_database_url_local_or_cloud

#uvicorn backend.app.main:app --reload